<div id="search_book">
   <form action="/search_book" method="POST" name="search_form" class="ui form">	
   <div class="nav-stripe">
	    <%= render "partials/navbar" %>
	    <div class="ui container">
		    <%=render "partials/search"%>
	    </div>
    </div>


	<br><br>
	<div align="center">
		<div class="results-banner">
			<h3><%= @message %>
				<div align="right">
					<select name="sort_filter" style="width:25%" onchange="search_form.submit()">
						<% if @filter.nil? %>
							<option value="" selected disabled hidden> Sort By...</option>
						<% else %>
							<option value="" selected disabled hidden><%=@filter%></option>
						<% end %>
						<option value="None">None</option>
						<option value="Edition">Edition</option>
						<option value="Condition">Condition</option>
						<option value="Price">Price</option>
					</select>
				</div>
			</h3>
	    	</div>
		<br>
   	</div>
   </form>
    <div class="ui container">
    <% @found_books.each do |book| %>
    <br>
    <div class="ui raised segment">
        <div class="ui grid">
            <div class="six wide column">
                <h4>
                    <%= book.title %>
                        <% if(!book.edition.nil?)%>
                            <%=book.edition+" Ed."%>
                    <% end %>
                </h4>
                <p><%= "ISBN: "+book.isbn %></p>
		<p><%= "Price: $"+book.price.to_s %></p>
		<p><%= "Seller: "+book.seller.name %></p>
		<p><%= "Contact: "+book.seller.email %></p>
            </div>
            <div class="ten wide column">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio impedit minus voluptas praesentium dignissimos, voluptatem repellat quo nulla hic dicta aliquam voluptates est aperiam enim omnis consequuntur repellendus quos? Saepe!
                </p>
            </div>
        </div>
    </div>
    <% end %>
    </div>
</div>
<br><br>
