<div id="search_book">
    <div class="nav-stripe">
	    <%= render "partials/navbar" %>
	    <div class="ui container">
		    <%=render "partials/search"%>
	    </div>
    </div>


	<br><br>
	<div align="center">
		<div class="results-banner">
			<h3><%= @message %>
				<div align="right">
					<button class="ui red button">Proceed to Checkout</button>
				</div>
			</h3>
	    	</div>
		<br>
   	</div>

    <div class="ui container">
    <% @found_books.each do |book| %>
    <br>
    <div class="ui raised segment">
        <div class="ui grid">
            <div class="six wide column">
                <h4>
                    <%= book.title %>
                        <% if(!book.edition.nil?)%>
                            <%=book.edition+" Ed."%>
                    <% end %>
                </h4>
                <p><%= "ISBN: "+book.isbn %></p>
		<p><%= "Price: $"+book.price.to_s %></p>
		<p><%= "Seller: "+book.seller.name %></p>
		<p><%= "Contact: "+book.seller.email %></p>
            </div>
            <div class="ten wide column">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio impedit minus voluptas praesentium dignissimos, voluptatem repellat quo nulla hic dicta aliquam voluptates est aperiam enim omnis consequuntur repellendus quos? Saepe!
                </p>
                <div align="right">
                    <button class="ui orange button">Add to Cart</button>
                    <button class="ui orange button">Request Swap</button>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    </div>
</div>
<br><br>
