<div id="dashboard">
  <div class="nav-stripe">
    <div class="ui container">
      <div class="ui secondary menu">
        <div class="left menu">
          <a href="/" class="item">
            <div class="nav-logo">
              Textbook Swap
            </div>
          </a>
          <a href="/dashboard" class="active item">
            Dashboard
          </a>
          <a href="/add_book" class="item">
            Add A Book
          </a>
        </div>
        <div class="right menu">
            <a
             <% if(@LogInOrOut != 'Login') %>
             href="/logout" 
             data-method="delete"
             <% else %>
             href="/login"
             <% end %>
             class="active item">
              <%= @LogInOrOut || 'Login' %>
            </a>
        </div>
      </div>
    </div>
  </div>
  <% if flash[:alert] %>
  <div class="ui container">
      <div class="ui danger message">
          <i class="close icon"></i>
          <div class="header">
              Notice
          </div>
          <p><%= flash[:alert] %></p>
      </div>
  </div>
  <% end %>
  <div class="dashboard_container ui container">
    <div align="center">
      <h1 class="ui orange header">Dashboard</h1>
    </div>
    <div class="ui divider"></div>
        <div class="ui stackable center aligned grid" id="related_books" align="center">
          <div class="two wide column">
            <div class="ui inverted compact vertical labeled icon menu">
              <!-- Add Embedded Ruby Here to activate correct icon? -->
              <a href="javascript:showHide('OwnedBooks');" class="active item">
                <i class="book icon"></i>
                Owned Books
              </a>
              <a  href="javascript:showHide('Selling');" class="item">
                <i class="money bill alternate outline icon"></i>
                Selling
              </a>
              <a href="javascript:showHide('SoldBooks');" class="item">
                <i class="dollar sign icon"></i>
                Sold Books
              </a>
              <a href="javascript:showHide('WishList');" class="item">
                <i class="list alternate icon"></i>
                Wish List
              </a>
            </div>
          </div>
          <div class="fourteen wide column">
            <div class="pool-banner">
              <div id="OwnedBooks">
                <!-- ADD HTML FOR OWNED BOOKS HERE -->
                    <div class="ui stackable grid">
                    <% if(@ownedBooks.present?) %>
                    <% @ownedBooks.each do |book| %>
                        <div class="four wide column">
                            <div class="ui card">
                                <div class="image"> 
                                    <img src="https://webstores.activenetwork.com/school-software/del_sol_high_schofaw/images/products/detail_516_del_sol_high_schofaw_textbooks.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">
                                        <%= book.title %>
                                    </a>
                                    <div class="description">
                                        <%= "ISBN: #{book.isbn}" %>
                                        <br>
                                        <%= "Price: $#{book.price}" %>
                                        <br>
                                        <br>
                                        <div align="center">
                                            <a class="ui basic small green button" href="/dashboard/update?book_id=<%= book.id %>">Sell</a>
                                            <a class="ui basic small red button" href="/dashboard/destroy?book_id=<%= book.id %>&user_id=<%= @current_user.id %>">Remove</a>

                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% else %>
                    <div class="column">
                        <a class="ui large yellow button" href="/add_book">Add a Book!</a>
                    </div>
                    <% end %>
                    </div>

              </div>

              <div id="Selling">
                    <div class="ui stackable grid">
                    <% if(@sellingBooks.present?) %>
                    <% @sellingBooks.each do |book| %>
                        <div class="four wide column">
                            <div class="ui card">
                                <div class="image"> 
                                    <img src="https://webstores.activenetwork.com/school-software/del_sol_high_schofaw/images/products/detail_516_del_sol_high_schofaw_textbooks.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">
                                        <%= book.title %>
                                    </a>
                                    <div class="description">
                                        <%= "ISBN: #{book.isbn}" %>
                                        <br>
                                        <%= "Price: $#{book.price}" %>
                                        <br>
                                        <br>
                                        <div align="center">
                                            <a class="ui basic small green button" href="/dashboard/sold?book_id=<%= book.id %>">Mark as Sold</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% end %>
                    </div>

                </div>

               <div id="SoldBooks">
                <div class="ui stackable grid">
                    <% if(@soldBooks.present?) %>
                    <% @soldBooks.each do |book| %>
                        <div class="four wide column">
                            <div class="ui card">
                                <div class="image"> 
                                    <img src="https://webstores.activenetwork.com/school-software/del_sol_high_schofaw/images/products/detail_516_del_sol_high_schofaw_textbooks.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">
                                        <%= book.title %>
                                    </a>
                                    <div class="description">
                                        <%= "ISBN: #{book.isbn}" %>
                                        <br>
                                        <%= "Price: $#{book.price}" %>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% end %>
                    </div>
               </div>

                <div id="WishList">
                    <%= render "textbook_wishlist/index"%>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>


<script>
    function showHide(d)
    {
        var myElement = document.querySelector("#OwnedBooks");
        myElement.style.display = "none";
        var onediv = document.getElementById(d);
        var myClass;
        if(d == 'Selling') {
            var myClass = "active item";
        }
        var divs=['OwnedBooks','Selling','SoldBooks','WishList'];
        for (var i=0;i<divs.length;i++)
        {
            if (onediv != document.getElementById(divs[i]))
            {
                document.getElementById(divs[i]).style.display='none';
            }

        }
        onediv.style.display = 'block';
    }
    //code to activate semantic UI menu buttons when selected
    menu = {};

    // ready event
    menu.ready = function() {

        // selector cache
        var
            $menuItem = $('.menu a.item, .menu .link.item'),
            // alias
            handler = {
                activate: function() {
                    $(this)
                        .addClass('active')
                        .closest('.ui.menu')
                        .find('.item')
                        .not($(this))
                        .removeClass('active');
                }
            }
        ;

        $menuItem
            .on('click', handler.activate)
        ;

    };


    // attach ready event
    $(document).ready(menu.ready);
</script>