<div id="home-container">
<div id="home">
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="left menu">
                <a href="/" class="item">
                    <div class="nav-logo">
                        Textbook Swap
                    </div>
                </a>
                <a href="/dashboard" class="item">
                    Dashboard
                </a>
                <a href="/add_book" class="item">
                    Add A Book
                </a>
            </div>
          <div class="right menu">
            <a
             <% if(@LogInOrOut != 'Login') %>
             href="/logout" 
             data-method="delete"
             <% else %>
             href="/login"
             <% end %>
             class="active item">
              <%= @LogInOrOut || 'Login' %>
            </a>
          </div>
        </div>
    </div>
    <div class="ui container">
        <% if flash[:notice] %>
            <div class="ui positive message">
                <i class="close icon"></i>
                <div class="header">
                    Logged In
                </div>
                <p><%= flash[:notice] %></p>
            </div>
        <% end %>

        <div align="center">
            <h1 class="logo">Textbook Swap</h1>
        </div>
	<form action="/search_book" method="POST" name="search_form" class="ui form">
      <%=render "partials/search" %>
	</form>
    </div>
</div>
  <br>
<div class="ui container">
    <h2 class="ui center aligned orange header">Recently listed books</h2>
    <div class="ui grid">
    <% if(@allBooks.present?) %>
    <% @allBooks.each do |book| %>
        <div class="four wide column">
            <div class="ui card">
                <div class="image"> 
                    <img src="https://webstores.activenetwork.com/school-software/del_sol_high_schofaw/images/products/detail_516_del_sol_high_schofaw_textbooks.jpg">
                </div>
                <div class="content">
                    <a class="header">
                        <%= book.title %>
                    </a>
                    <div class="description">
                        <%= "ISBN: #{book.isbn}" %>
                        <br>
                        <%= "Price: $#{book.price}" %>
                        <br>
                        <br>
                        <div align="center">
                            <a class="ui basic small green button">Buy Now</a>
                            <% if(@username) %>
                               <a class="ui basic small green button" href="/textbook_wishlist/create?book_id=<%= book.id %>&user_id=<%= @current_user.id %>">Add to wishlist</a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% end %>
    </div>
</div>
<br>
</div>
