<div class="ui container">
    <h2 class="ui center aligned orange header">Wishlist</h2>
    <div class="ui grid">
    <% if(@wishlistBooks_Final.present?) %>
    <% @wishlistBooks_Final.each do |book| %>
        <div class="four wide column">
            <div class="ui card">
                <div class="image"> 
                    <img src="<%= book.picture_path || "https://webstores.activenetwork.com/school-software/del_sol_high_schofaw/images/products/detail_516_del_sol_high_schofaw_textbooks.jpg" %>">
                </div>
                <div class="content">
                    <a class="header">
                        <%= book.title %>
                    </a>
                    <div class="description">
                        <%= "ISBN: #{book.isbn}" %>
                        <br>
                        <%= "Price: $#{book.price}" %>
                        <br>

                        <p><%= "Seller: "+book.seller.name %></p>
                        <%= contact_info_display(compare_users(book.seller),book.seller.email).html_safe%>
                          <div align="center">
                          <a class="ui basic small red button" href="/textbook_wishlist/destroy?book_id=<%= book.id %>&user_id=<%= @current_user.id %>">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% end %>
    </div>
</div>
<br>
</div>